<nav class="navbar">
  <div class="logo">Aquarium World</div>

  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/faqs">FAQ</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/map">Map</a></li>
  </ul>
</nav>
<h1>Welcome to The Aquarioum Worls Website</h1>
<h2>Opening Hours: From 9:00 AM to 6:00 PM</h2>
