<%- include('partials/header') %> <%- include('partials/navigation') %>
<h1><%= pageTitle %></h1>
<h1>Frequently Asked Questions</h1>
<p>This is a simple FAQ page.</p>
<%- include('partials/footer') %>
