body {
  font-family: Arial;

  margin: 30px;
}

.spacer {
  height: 700px;
}

#observeBox {
  height: 150px;

  background: orange;

  display: flex;

  justify-content: center;

  align-items: center;

  font-size: 22px;
}

.visible {
  background: green;

  color: white;
}

#dragItem {
  width: 120px;

  padding: 20px;

  background: steelblue;

  color: white;

  cursor: move;

  margin-bottom: 20px;

  text-align: center;
}

#dropZone {
  width: 300px;

  height: 150px;

  border: 3px dashed black;

  display: flex;

  justify-content: center;

  align-items: center;
}

canvas {
  border: 2px solid black;
}
