<%- include("partials/header") %> <%- include("partials/navigation") %>

<h1>About This Project</h1>

<p>This application demonstrates:</p>

<ul>
  <li>Express routing</li>

  <li>EJS templates</li>

  <li>Reusable partials</li>

  <li>Dynamic data</li>

  <li>Static CSS files</li>
</ul>

<%- include("partials/footer") %>
