<nav class="navbar">
  <div class="logo">Cofee World</div>

  <ul class="nav-links">
    <li><a href="/">Shops</a></li>
    <li><a href="/shop/1">Reviews</a></li>
  </ul>
</nav>
<h1>Welcome to The Cofee Worlds Website</h1>
<h2>Opening Hours: From 9:00 AM to 6:00 PM</h2>
